body {
  font: 1.6 helvetica;
  box-sizing: border-box;
  background-color: #f0f2f5;
}
.Login {
  width: 100%;
  height: 40rem;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.facebooktext {
  padding: 1rem;
  font-size: 4rem;
  color: #1877f2;
  font-weight: 700;
}
.title {
  font-size: 2rem;
  color: black;
  font-weight: 500;
}
.LoginContainer {
  border: white 0.3rem solid;
  background-color: white;
  height: 23rem;
  width: 26rem;
  padding: 1rem;
  border-radius: 0.7rem;
}

input[type="email"] {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  outline: none;
}

input[type="password"] {
  width: 100%;
  outline: none;
  padding: 20px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
}

input ::placeholder {
  font-size: 1.3rem;
}

.btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1877f2;
  border: none;
  box-sizing: border-box;
  padding: 15px 32px;
  justify-content: center;
  margin: 4px 2px;
  color: white;
  border-radius: 0.5rem;
}
.forget a {
  color: #1877f2;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1rem;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f2f5;
  background-color: #42b72a;
  bottom: none;
  padding: 15px 32px;
  font-size: 18px;
  cursor: pointer;
  width: 60%;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-left: 20%;
}
.page a {
  font-size: 1rem;
  color: black;
  display: inline-block;
  justify-content: center;
  text-decoration: none;
}

.page {
  font-size: 1rem;
  padding-left: 10%;
}
.Logindetails {
  border-bottom: 0.1rem black solid;
}
.btn h4 {
  text-decoration: none;
  color: white;
}
.btn h4:hover {
  color: black;
  cursor: pointer;
}
